# User-specific files
.vs/
.idea/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.opt
mono_crash.*

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
*.pdb

# Logs
*.tmp
*.log
*.plg
*.[Cc]ache

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

# SQL Server files
*.mdf
*.ldf
*.ndf

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

